.container {
  display: flex;
  align-items: center;
}

.icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon i {
  font-size: 40px;
}

.text {
  padding-left: 20px;
}
