.project-details {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.images {
  width: 50%;
  display: flex;
  justify-content: center;
}

.image-container {
  max-width: 90%;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.details {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .images {
    width: 100%;
  }

  .details {
    width: 100%;
  }
}
